html{
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
}
/* Estilos del formulario */
#frmCalcular div{
    margin-bottom: 30px;
}
#frmCalcular input{
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #192a56;
    text-align: center;
}

#frmCalcular button{
    background: #c23616;
    height: 35px;
    width: 125px;
    color: #fff;
}
#frmCalcular button:hover{
    background: #e84118;
    cursor: pointer;
}
#frmCalcular output{
    padding: 5px;
}